body {
    font-size: medium;
    width: 300px;
    margin: 0 auto;
    background-color: #0788b7;
}

img {
    display: block;
    height: auto;
    margin: 0 auto;
}
h1 {
    grid-column: 1/3;
}
body p, h1, h2, img, figcaption {
    text-align: center;
    text-justify: center;
}